[Install]
WantedBy=multi-user.target

[Unit]
After=network-online.target
Description=Pacman Auto-Update

[Service]
Nice=19
KillMode=process
SendSIGKILL=no
ExecStart=/usr/bin/pacman-auto-update
