[Unit]
Description=Pacman Auto Update
After=network-online.target

[Service]
ExecStart=/usr/lib/pacman-auto-update/pacman-auto-update
Nice=19
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
