[Install]
WantedBy=multi-user.target

[Unit]
Description=Pacman Auto-Update Timer

[Timer]
OnBootSec=5min
OnUnitInactiveSec=60min
RandomizedDelaySec=10min
Unit=pacman-auto-update.service
