[Unit]
Description=Automaticaly updates official software packages after 5 minutes of boot and 60 minutes post-boot

[Timer]
OnBootSec=5min
OnUnitActiveSec=60min
Unit=pacman-auto-update.service

[Install]
WantedBy=multi-user.target
